a:hover {
    color: green;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("https://www.csgo.com.cn/jpg/170621/10691498033135303.jpg");
}

main {
    display: flex;
    flex: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-style:ridge;
    border-width:5px;
    border-color:green;
    
}

aside {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-style:ridge;
    border-width:5px;
    border-color:green;
}

article {
    flex: 3;
    border-style:ridge;
    border-width:5px;
    border-color:green;
}